<!DOCTYPE html>

<html>
  <head>
    <title>Socket is I</title>
  
    <!-- css libs-->
    <!-- js libs-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/victor/1.1.0/victor.min.js"></script>
    <!-- local css-->
    <link rel="stylesheet" href="./css/style.css">
    <!-- local js -->
    <script src="./game/opts.js"></script>
    <script src="./game/helperfuncs.js"></script>
    <script src="./game/actor.js"></script>
    <script src="./game/ship.js"></script>
    <script src="./game/sea.js"></script>
    <script src="./client.js"></script>
  </head>
  <body>
     <img id="scream" src="https://images.pexels.com/photos/37730/sunset-boat-sea-ship-37730.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="The Scream" width="220" height="277" hidden>
    <canvas id="main-canv"></canvas>
    <div id="ping-holder">Ping: unknown</div>
  </body>
</html>
