<!DOCTYPE html>

<html>
  <head>
    <title>Socket is I</title>
  
    <!-- css libs-->
    <!-- js libs-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/victor/1.1.0/victor.min.js"></script>
    <!-- local css-->
    <link rel="stylesheet" href="./css/style.css">
    <!-- local js -->
    <script src="./game/opts.js"></script>
    <script src="./game/helperfuncs.js"></script>
    <script src="./game/actor.js"></script>
    <script src="./game/ship.js"></script>
    <script src="./game/sea.js"></script>
    <script src="./client.js"></script>
  </head>
  <body>
    <canvas id="main-canv"></canvas>
    <div id="ping-holder">Ping: unknown</div>
    <div id="ship-holder">Ship: Pos: &lt;<span id="ship-posx"></span>, <span id="ship-posy"></span>&gt; 
      Ang: <span id="ship-ang"></span>
      Vel: <span id="ship-vel"></span> </div>
  </body>
</html>
